{% extends 'base.html' %}
{% block title %}Tweets List{% endblock %}
{% block content %}
		<div class="container">
			<h1>Tweets List</h1>
			<p>
			<ul class="list-group"> {% for tweet in tweets %}
				<li class="list-group-item">
					{{tweet.profile_tweet.user.username}}<br>
					{% if request.user.is_authenticated %}
						<a href = "{% url 'addcomment' tweet.id %}">{{tweet.text_tweet}}</a><br>
					{% else %}
						{{tweet.text_tweet}}<br>
					{% endif %}
					{{tweet.pub_date}}
				</li>
				 {% endfor %}
			</ul>
		</div>
{% endblock %}